/* -----------------Class CSS -----------------*/
.about-author{
    color:#2c1212
}

.author{
    background-color: hsl(80, 15%, 92%);
}

.footer {
    background-color: #2c1212;
}

.font-italic{
    font-style: italic;
}

.icon-white{
    color: hsl(80, 15%, 92%);
}

.logo{
    width: 80px;
}

.overview{
    color:#2c1212;
    background-color: hsl(80, 15%, 92%);
}

.showcase{
    background-color: hsl(0, 0%, 100%);
}

.nb-bg-color{
    background-color: #2c1212;
}

/* -----------------ID CSS -----------------*/
a #nbMenuItem{
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

div #about{
    width: 400px;
    margin: auto;
}

#ovPadLeft{
    padding-left: 20px;
}

#ovPadRight {
    padding-right: 20px;
}

#title {
    color:#2c1212;
    font-weight: 400;
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}